﻿@{
    ViewData["Title"] = "Creation product";
}
<form method="post">
    <p>
        <label>Имя товара:</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Описание товара:</label><br />
        <textarea name="Info"></textarea>
    </p>
    <p>
        <label>Дата получения товара:</label><br />
        <input type="date" name="Date" />
    </p>
    <p>
        <label>Цена:</label><br />
        <input type="number" name="Price" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>