﻿@model IEnumerable<Product>

@{
    ViewData["Title"] = "List";
}

<h2>Товары</h2>
<table class="table">
    <thead>
        <tr>
                <th>
                    Имя товара
                </th>
                <th>
                    Описание товара
                </th>
                <th>
                    Дата получения товара
                </th>
                <th>
                    Цена
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Info
            </td>
            <td>
                @item.Date
            </td>
            <td>
                @item.Price
            </td>
        </tr>
}
    </tbody>
</table>
